<%- include('./partials/head') %>
<main class="container-selection">
  <button class="btn-filter">
    <div class="btn-title">
      <p>Ambitions</p>
      <svg></svg>
    </div>
  </button>

  <!-- <div class="btn-filter-select">
    <a href="">Frontend Developer <svg></svg></a>
    <a href="">Frontend Developer <svg></svg></a>
    <a href="">Frontend Developer <svg></svg></a>
    <a href="">Frontend Developer <svg></svg></a>
    <a href="">Frontend Developer <svg></svg></a>
    <a href="">Frontend Developer <svg></svg></a>
  </div> -->

  <div class="container title">
    <h1>Spot your squat-lead ambitions</h1>
  </div>

  <section class="cotainer-section">
    <div class="section-content">
      <div class="content img">
        <img src="<%- member.avatar %>" alt="student fdnd michelle " />
      </div>
      <h1><%- member.name %></h1>
    </div>
  </section>

  <section class="cotainer-section">
    <div class="section-content">
      <div class="content img">
        <img src="<%- member.avatar %>" alt="student fdnd michelle " />
      </div>
      <h1><%- member.name %></h1>
    </div>
  </section>

  <section class="cotainer-section">
    <div class="section-content">
      <div class="content img">
        <img src="<%- member.avatar %>" alt="student fdnd michelle " />
      </div>
      <h1><%- member.name %></h1>
    </div>
  </section>

  <section class="cotainer-section">
    <div class="section-content">
      <div class="content img">
        <img src="<%- member.avatar %>" alt="student fdnd michelle " />
      </div>
      <h1><%- member.name %></h1>
    </div>
  </section>

  <section class="cotainer-section">
    <div class="section-content">
      <div class="content img">
        <img src="<%- member.avatar %>" alt="student fdnd michelle " />
      </div>
      <h1><%- member.name %></h1>
    </div>
  </section>
</main>

<%- include('./partials/foot') %>
